/* color:02edb5 */


/*-----------------------------------------------------------
    1. General Styles 
-------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.icon {
    width: max-content;
}

:root {
    --primary-color: #02edb5;
    --overlay-color: rgba(0, 0, 0, 0.4);
    --dark-overlay-color: rgba(0, 0, 0, 0.7);
    --light-color: #fff;
    --light-grey-color: #333333;
    --dark-color: #222;
    --title-size: 1.15rem;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden !important;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    position: relative;
    color: #1F373D;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    overflow-x: hidden !important;
    color: #1F373D;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    transition: opacity 1s;
    margin: 0;
    padding: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    color: var(--primary-color);
}


/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

::selection {
    background: #1F373D;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #1F373D;
    color: #fff;
    text-shadow: none;
}

::-webkit-selection {
    background: #1F373D;
    color: #fff;
    text-shadow: none;
}

:active,
:focus {
    outline: none !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.white-text {
    color: #FFF;
}

.light-bg {
    background-color: #fff;
}

.bg-white {
    background-color: #fff;
}

.yellow-bg {
    background-color: var(--primary-color);
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.slide {
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/*-----------------------------------------------------------
    2. Typography 
------------------------------------------------------------*/

h1,
.h1 {
    font-size: 58px;
    font-weight: 700;
    color: #000000;
}

h2,
.h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

h3,
.h3 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

h4,
.h4 {
    font-size: 25px;
    font-weight: 700;
    color: #000000;
}

h5,
.h5 {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

h6,
.h6 {
    font-size: 14px;
    color: #000000;
}

p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    letter-spacing: 0.025em;
}

li {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.025em;
    display: inline;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.lux-shadow {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
    -moz-box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
    box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
}


/*-----------------------------------------------------------
    3. Header
-------------------------------------------------------------*/

header {
    padding-bottom: 25px;
    color: #fff;
    overflow-x: hidden;
}

#top-nav {
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    /* border-bottom: 2px solid var(--primary-color); */
}

#top-nav a {
    color: var(--light-color);
}

.logo {
    width: 20%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18pt;
    font-weight: 700;
}

.menu {
    width: 80%;
    height: 95px;
}

.page-menu {
    width: 70%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration {
    width: 30%;
    height: 95px;
}

.join-us {
    width: 40%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.Register-with-us {
    width: 60%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-btn {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid var(--primary-color);
    transition: 0.4s all;
}

.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.main-btn:hover a {
    color: #1F373D;
}

.secondary-btn {
    width: 100%;
    background-color: var(--light-color);
    padding: 10px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid var(--light-color);
    transition: 0.4s all;
    color: var(--primary-color);
}

.secondary-btn:hover {
    background-color: transparent;
    color: var(--light-color) !important;
    border: 1px solid var(--light-color);
}

.secondary-text-color {
    color: var(--primary-color) !important;
}

.secondary-btn:hover .secondary-text-color {
    color: var(--light-color) !important;
}

.page-menu li {
    padding: 8px;
}

.active {
    color: var(--primary-color);
}


/*-- Hero Area --*/

.hero {
    max-width: 100%;
    height: 90vh;
    position: relative;
}

.title {
    max-width: 60%;
    height: 30vh;
    position: absolute;
    z-index: 999;
    top: 23vh;
}

.hero-image {
    width: 100%;
    height: 90vh;
    background-image: url('../images/hotel-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-image-overlay {
    background-color: var(--overlay-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero-main-text {
    color: var(--light-color);
}

.info {
    margin: 5px 35px;
}

.search {
    margin-top: 40px;
    width: 500px;
    position: absolute;
}

.search input {
    width: 75%;
    background: url('../images/search.svg') no-repeat 8px 8px;
    background-position: left;
    border: 0px;
    background-color: #fff;
    padding: 25px 40px;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-position: left 15px top 29px;
}

.search-btn {
    width: 25%;
    border: 0px;
    background-color: var(--primary-color);
    color: #1F373D;
    padding: 25px 10px;
    font-size: 15px;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-btn:hover {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

::placeholder {
    color: #919EB1;
}

.slide-down {
    width: 20px;
    height: 65px;
    position: absolute;
    bottom: 0;
}

.slide-down p {
    transform: rotate(-90deg);
    font-size: 12px;
    white-space: nowrap;
    color: #919EB1;
}


/*-----------------------------------------------------------
    4. STATISTIC
-------------------------------------------------------------*/

.statistic {
    width: 80%;
    margin: auto;
}

.statistic p {
    font-size: 13px;
}

.statistic-box {
    background-color: var(--primary-color);
    width: 36%;
    height: 150px;
    margin: 0px 0px 30px 30px;
    padding-top: 40px;
}

.statistic-box h3 {
    color: var(--light-color);
}

.statistic-box:hover {
    background-color: var(--light-color);
    box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
}

.statistic-box:hover h3 {
    color: var(--dark-color);
}


/*-----------------------------------------------------------
    5. APPARTMENTS
-------------------------------------------------------------*/

.appartments {
    background-color: #F6F5F4;
    padding: 40px 0px;
}

.appartments h2 {
    margin-bottom: 35px;
}

.appartments img {
    display: inline-block;
    max-width: 100%;
}

.appartment-highlight {
    font-size: 80%;
    color: var(--primary-color);
}

.appartment-icon {
    filter: invert(50%);
}

.appartment-location {
    font-size: 0.9rem;
}

.appartment-title {
    font-size: var(--title-size);
    font-weight: 700;
    color: var(--dark-color);
}

.appartment-details p {
    font-size: 0.8rem;
}

.search-appartments {
    position: inherit;
}

.appartment-details-icon {
    width: 15px;
}

.appartment-footer p {
    font-size: 0.6rem;
}

.appartment-box:hover {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
    -moz-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
    box-shadow: 0px 3px 8px 0px rgba(15, 29, 32, 0.15);
}

.appartment-footer-img {
    width: 45px;
}

.search-all-btn {
    margin-left: 40px;
    border-radius: 5px;
    background-color: #fff;
}


/*-----------------------------------------------------------
    Why Choose us
-------------------------------------------------------------*/

.why {
    background-color: #fff;
    padding: 60px 0px 20px 0px;
}

.why-box {
    width: 100%;
    height: 372px;
    max-width: 345px;
    margin: 0 auto;
    margin-top: 60px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
    -moz-box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
    box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
}

.why-box:hover {
    background-color: var(--primary-color);
}

.why-box:hover .why-title {
    color: #fff !important;
}

.why-box:hover .why-image {
    filter: grayscale(100%);
}

.why-content {
    width: inherit;
}

.why-image {
    display: block;
    width: 200px;
    margin: auto;
    padding-bottom: 0.5rem;
}

.why-title {
    font-size: var(--title-size);
    color: var(--dark-color);
}

.why-sub-title {
    font-size: 0.85rem;
}


/* Work Service */

.work-services {
    padding: 90px 0px 20px 0px;
}

.work-services-title p {
    font-size: 13px;
}

.work-service-image {
    background-color: aqua;
    width: 100%;
    height: 600px;
    display: inline-block;
    background-image: url('../images/hotel-16.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-service-info p {
    padding: 15px 0px 50px 0px;
    font-size: 13px;
}


/*-----------------------------------------------------------
   TESTIMONIALS
-------------------------------------------------------------*/

.testimonial {
    min-height: 350px;
    background: url(../images/hotel-13.jpg) no-repeat center center/cover fixed;
    position: relative;
}

.testimonial-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-overlay-color);
}

.testimonial-img img {
    width: 70px;
    display: block;
    border: 3px solid rgba(255, 255, 255, 0.308);
}

.testimonial-info-main {
    font-weight: bolder;
}

.testimonial-info-sub {
    margin: -1.3rem;
    font-size: 0.8rem;
}


/*-----------------------------------------------------------
    7. AGENTS
-------------------------------------------------------------*/

.agent {
    display: block;
    max-width: 100%;
    ;
}

.agents {
    background-color: #F6F5F4;
    padding-bottom: 90px;
}

.agent-title {
    font-size: var(--title-size);
    color: var(--dark-color);
}

.agents-title p {
    font-size: 13px;
    margin-top: 20px;
    line-height: 1.9rem;
}

.agent-info-title {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

.agent-social-icon {
    padding: 0 0.4rem;
}

.agent-image {
    width: 100%;
    display: inline-block;
}


/* agent Adevrt */

.agent-advert {
    background-color: var(--primary-color);
    padding: 1.5rem;
}

.agent-advert .col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.agent-advert-text-title {
    font-size: 1.2rem;
}

.agent-advert-btn {
    border: none;
    background-color: #06b189;
    color: var(--light-color);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    text-align: center;
}

.agent-advert-btn:hover {
    border: 2px solid #fff;
    background-color: transparent;
}


/*-----------------------------------------------------------
    8. ADDS
-------------------------------------------------------------*/

.add {
    padding: 90px 0px;
    background-color: #fff;
}

.add-image {
    width: 540px;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 80px;
}

.add1 {
    background-image: url('../images/add.png');
}

.add2 {
    background-image: url('../images/add.png');
}

.add3 {
    background-image: url('../images/add.png');
}

.add-info p {
    padding: 15px 0px 50px 0px;
    font-size: 13px;
    line-height: 1.8rem;
}

.add-image-info {
    background-color: var(--primary-color);
    width: 60%;
    margin: 0px 20%;
    height: 80px;
    position: absolute;
    bottom: -30px;
}

.add-image-info p {
    padding: 15px 0px 0px 20px;
    font-size: 18px;
    font-weight: 700;
}

.add2-info {
    text-align: right;
}

.add-image-info2 {
    left: 150px;
}

.show-more-btn {
    width: 70%;
    border-radius: 0px;
    background-color: #1F373D;
    color: #fff;
}

.add3-info p {
    padding-bottom: 10px;
}


/*-----------------------------------------------------------
    9. Footer
-------------------------------------------------------------*/

footer {
    background-color: var(--dark-color);
    width: 100%;
    color: #fff !important;
    padding: 65px 0px;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #fff;
}

.footer-top {
    border-bottom: 1px solid #919EB1;
    padding-bottom: 45px;
}

.Newsletter input {
    width: 80%;
    height: 70px;
    padding: 0px 15px;
    border: 0px;
    margin-top: 26px;
}

.footer-icon {
    max-width: 140px;
    height: auto;
    display: inline-block;
}

.newsletter-btn {
    background-color: #fbfbfb;
    width: 20%;
    height: 70px;
    border: 0px;
    background-image: url('../images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 26px;
}

.newsletter-btn:hover {
    background-color: var(--primary-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer-logo h4 {
    margin-bottom: 60px;
}

.footer-logo p {
    font-size: 13px;
    font-weight: 400;
}

.footer-bottom {
    padding-top: 70px;
}

.footer-column h5 {
    padding-bottom: 35px;
}

.footer-column a {
    color: #fff;
    display: flex;
    font-size: 13px;
    padding-bottom: 18px;
}


/*-----------------------------------------------------------
    10. RESPONSIVE
-------------------------------------------------------------*/


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
    .menu {
        background-color: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 70px;
        right: 100%;
        text-align: center;
        z-index: 999;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        background-color: var(--primary-color);
    }
    .page-menu {
        width: 100%;
        height: 50vh;
        text-align: center;
        float: none;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
    }
    .page-menu li {
        font-size: 15pt;
        padding: 1.5vh;
    }
    .registration {
        float: none;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        padding-bottom: 5vh;
    }
    .Login {
        width: 100%;
        text-align: center;
        height: 0px;
        margin-top: 30px;
        padding-right: 1rem;
    }
    .Login li {
        width: 100%;
        text-align: center;
    }
    .menu-button {
        width: 40px;
        height: 40px;
        display: block;
        margin-top: 26px;
    }
    .menu-button span {
        width: 40px;
        height: 4px;
        background-color: var(--light-color);
        display: block;
        margin: 6px 0px;
    }
    .main-btn {
        width: 100%;
        background-color: var(--primary-color);
        padding: 10px 10px;
        margin: 0px;
        border-radius: 5px;
        font-size: 13px;
        border: 1px solid var(--primary-color);
        transition: 0.4s all;
    }
    .search-appartments {
        width: 300px;
    }
    .search-all-btn {
        width: 30%;
    }
    .how-it-works {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .hero-image {
        width: 100%;
    }
    .info {
        margin: 0px 10px;
    }
    h1 {
        font-size: 45px;
    }
    .search-appartments {
        width: 270px;
    }
    .search-all-btn {
        width: 37%;
        margin-left: 10px;
    }
    .work-service-image {
        max-height: 630px;
        left: 0px;
        margin-bottom: 50px;
    }
    .footer-logo h4 {
        float: left;
    }
    .footer-logo p {
        float: right;
    }
    .agent-advert .col {
        display: block;
    }
}

@media only screen and (max-width: 650px) {
    .info p {
        font-size: 14px;
    }
    .hero-image-info {
        right: 40px;
    }
    .title {
        top: 17vh;
    }
    .search-all-btn {
        width: 40%;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 575px) {
    .footer-bottom {
        text-align: center;
    }
    .footer-column a {
        display: list-item;
        list-style: none;
    }
}

@media only screen and (max-width: 540px) {
    .info p {
        font-size: 12px;
    }
    .hero-image-info {
        width: 90%;
    }
    .search {
        width: 400px;
    }
    .search-appartments {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .search-all-btn {
        width: 80%;
        margin: 0px 10%;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 470px) {
    .info p {
        font-size: 12px;
    }
    .hero-image-info {
        right: 30px;
        width: 91%;
    }
    .hero-image-info p {
        padding: 5px 5px;
        font-size: 11px;
    }
    .search {
        width: 300px;
    }
    .search-all-btn {
        width: 80%;
    }
}

@media only screen and (max-width: 380px) {
    .title {
        top: 22vh;
    }
    .search {
        width: 250px;
    }
    .search-btn {
        width: 30%;
    }
    .search-all-btn {
        width: 80%;
    }
    .search input {
        width: 70%;
        font-size: 12px;
        padding: 27px 40px;
    }
    .info img {
        display: none;
    }
}